@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Приветствую!</h1>
    <p>Данная информационная система была создана за одну ночь.</p>
</div>
